<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wiki Backend Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<div class="container text-center">
		<p th:style="'margin-top:10px'" th:text="'Welcome to character wiki  backend demo!'"/>
		
		
		<a href="/characterlist"><button type="button" class="btn btn-primary btn-lg">Characters</button></a>
		
		<a href="/locationlist"><button type="button" class="btn btn-primary btn-lg">Locations</button></a>
	</div>
	
</body>
</html>