<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Characters</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<div class="container text-center">
		<H1>Locations</H1>
		
		<div class="d-flex ">
		
		<div class="me-1" style="padding:10px 0"><a href="/characterlist"><button type="button" class="btn btn-outline-primary">Characters</button></a></div>
		<div class="me-1" style="padding:10px 0"><button type="button" class="btn btn-primary" disabled>Locations</button></div>
		
		
		<div class="ms-auto" style="padding:10px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-outline-danger ml-auto"/>
		</form>
		</div>
		</div>
		
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>
				
				<tr th:each = "location : ${locations}">
					<td th:text="${location.name}"></td>
					<td th:text="${location.text}"></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editLocation/{locationid}(locationid=${location.locationid})}"><button type="button" class="btn btn-success">Edit</button></a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteLocation/{locationid}(locationid=${location.locationid})}"><button type="button" class="btn btn-danger">Delete</button></a></td>
				</tr>
			</tbody>
		</table>
		<a sec:authorize="hasAuthority('ADMIN')" href="/addLocation"><button type="button" class="btn btn-success">Add new location</button></a>
	</div>
	
</body>
</html>